<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.example.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuildingServlet</servlet-name>
        <servlet-class>org.example.BuildingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuildingServlet</servlet-name>
        <url-pattern>/BuildingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlatServlet</servlet-name>
        <servlet-class>org.example.FlatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlatServlet</servlet-name>
        <url-pattern>/FlatServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResidentServlet</servlet-name>
        <servlet-class>org.example.ResidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResidentServlet</servlet-name>
        <url-pattern>/ResidentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>org.example.StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VisitorServlet</servlet-name>
        <servlet-class>org.example.VisitorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitorServlet</servlet-name>
        <url-pattern>/VisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VisitorEnterServlet</servlet-name>
        <servlet-class>org.example.VisitorEnterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>VisitorEnterServlet</servlet-name>
    <url-pattern>/VisitorEnterServlet</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>MaintenanceServlet</servlet-name>
        <servlet-class>org.example.MaintenanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintenanceServlet</servlet-name>
        <url-pattern>/MaintenanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>payAmountServlet</servlet-name>
        <servlet-class>org.example.payAmountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>payAmountServlet</servlet-name>
        <url-pattern>/payAmountServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>approvalApproveServlet</servlet-name>
        <servlet-class>org.example.approvalApproveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>approvalApproveServlet</servlet-name>
        <url-pattern>/approvalApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>approvalDenyServlet</servlet-name>
        <servlet-class>org.example.approvalDenyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>approvalDenyServlet</servlet-name>
        <url-pattern>/approvalDenyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegularVisitorServlet</servlet-name>
        <servlet-class>org.example.RegularVisitorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegularVisitorServlet</servlet-name>
        <url-pattern>/RegularVisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePasswordServlet</servlet-name>
        <servlet-class>org.example.updatePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePasswordServlet</servlet-name>
        <url-pattern>/updatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>org.example.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VisitorExitServlet</servlet-name>
        <servlet-class>org.example.VisitorExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitorExitServlet</servlet-name>
        <url-pattern>/VisitorExitServlet</url-pattern>
    </servlet-mapping>
</web-app>